/* Navigation */
.side-nav{
  text-decoration: none;

  position: fixed;
  width: 100%;
  max-width: 250px;
  height: 100%;
  margin-left: -250px;

  box-sizing: border-box;
  background-color: cornflowerblue;
  padding: 20px;

  -webkit-transition: margin 200ms ease-in-out;
  -moz-transition: margin 200ms ease-in-out;
  transition: margin 200ms ease-in-out;

  ul{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    font-size: 26px;
    font: 1em "Helvetica", sans-sarif;
    color: #ffffff;
  }
  .nav-toggle{
    position: absolute;
    right: -40px;
    top: 40%;
    width: 40px;
    height: 80px;
    background-color: cornflowerblue;
  }
  .nav-toggle:before{
    background-color: aqua;
  }
}

.side-nav.nav-open{
  margin-left: 0;
}



/* Text */
h1, h2{
  font-size: 32px;
  font-style: oblique;
  text-align: center;
}
h2{
  color: #212121;
}

body{
  padding: 10px 10px 10px;
  background-color: aquamarine;
}
/* Header and footer */
footer, header {
  background-color: #212121;
  color: #ffffff;

  font-size: 24px;
  text-align: center;

  position: absolute;
  clear: both;
}

footer{
  bottom: 5px;
  height: 60px;
}

header{
  height: 60px;
  top: 5px;
  h1{
    font-size:28px;
  }
}

