/* Navigation */
.side-nav{
  text-decoration: none;

  position: fixed;
  width: 100%;
  max-width: 250px;
  height: 100%;
  margin-left: -260px;
  top: 0;

  z-index:99;

  box-sizing: border-box;
  background-color: #A2BFF4;
  padding: 20px;

  -webkit-transition: margin 200ms ease-in-out;
  -moz-transition: margin 200ms ease-in-out;
  transition: margin 200ms ease-in-out;

  ul{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    font-size: 26px;
    font: 1em "Helvetica", sans-sarif;
    color: #ffffff;
  }
  a:hover{
    color: #212121;
  }

  .nav-toggle{
    position: absolute;
    right: -40px;
    top: 40%;
    width: 40px;
    height: 80px;
    background-color: #A2BFF4;
  }
}

.side-nav.nav-open{
  margin-left: -10px;
}

/* Text */
.content_title{
  font-size: 32px;
  text-align: center;
  position: relative;
}

body{
  background-color: #ffffff;
  overflow-y: hidden;
}

/* Header and footer */
footer, header {
  background-color: #6495ED;
  color: #ffffff;

  font-size: 24px;
  text-align: center;

  position: fixed;

  left: 5px;
  right: 5px;

  height: 60px;
}

footer{
  bottom: 5px;
}
header{
  top: 5px;
  h1{
    font-size:28px;
  }
}

